body{
    margin: 0%;
    padding: 0%;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.inicio{
    width: 100%;
    height: 100%;
}

header{
    height: 15%;
    width: 100%;
    background-color: #101E35;
    z-index: -1;
    margin-top: 0%;
    display: flex;
    justify-content: space-between;
}

nav{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.armar,.comparar,.info,.log{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    color: #A6A6A6;
    margin-right: 3%;
    transition: 0,3s ease;

    &:hover{
        cursor:pointer;
        scale: 1.03;
    }
}

.busc{
    height: 45px;
    width: 100%;
    border-radius: 12px;
    margin-top: 3%;
    border: solid;
    border-color: #103263;
    border-width: 3px;
    font-size: larger;
    background-color: white;
    font-family: 'crimson text';
    font-weight: 500;
    
    &.busc::placeholder{
        color: #D9D9D9;
        background-image: url(../../recursos/img/lupa.buscador.png);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: left 2px center;
        padding-left: 27px;
    }

    &.busc:focus{
        outline: none;
    }
}

.buscador{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 12%;
}

.busqs{
    width: 557px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    font-family: 'crimson text', serif;
    font-weight: 500;
    position: relative;
}

.busqs div {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #e9e9e9;
    background-color: transparent;
    transition: background-color 0.2s ease;
}

.busqs div:hover {
    background-color: #f0f0f0;
}
.busqs div:last-child {
    border-bottom: none;
    border-radius: 0 0 10px 10px;
}

section{
    height: 35%;
    width: 100%;
    background-image: url(../../recursos/img/fondo.png);
    background-color: #103263;
    background-size: cover;
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .pcity{
        height: 110px;
        width: 140px;
        margin-left: 2%;
        margin-bottom: -1.5%;
    }

    h1{
        font-family: 'inter';
        font-weight: bolder;
        font-size: 5rem;
        margin-top: -1%;
        margin-left: 16%;
        width: 60%;
        display: flex;
        
    }
    
    h2{
        font-family: 'inter';
        margin-top: -5%;
        font-size: 2.5rem;
        font-style: bold;
    }
}

p{
    font-family: 'inter';
    margin-left: 3%;
    font-size: 2.7rem;
    margin-top: 2%;
}

.comp{
    height: 160px;
    width: 290px;
    background-color: #e2e2e2;
    border: 5px none;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items:center;
    box-sizing: border-box;
    font-size: 1.5rem;
    font-family: 'inter';
    font-style: normal;
    transition: 0,3s ease;

    &:hover{
        scale: 1.01;
        cursor:pointer;
        background-color: #e2e2e2;
    }
}



.foto{
    margin-right: 25%;
    margin-right: 10%;
    height: 80px;
    width: 110px;
}

.componentesPopu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap:10px;
}

.login {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f2f2f2;
    border-radius: 30px;
    height: 50%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Crimson Text', serif;
    z-index: 100;
    border: 1px solid rgb(199, 199, 199);

    .titulo {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin-top: 5%;
      width: 100%;

        h1 {
            font-family: 'Inter', sans-serif;
            font-weight: bolder;
            font-size: 2rem;
            width: 100%;
            margin-left: 7%;
            margin-top: 5%;
        }

        .pcity {
            height: 50px;
            width: 55px;
            margin-left: -100%;
        }
    }

    .texto {
    display: flex;
    flex-direction: column;
    margin-top: -15%;
    gap: 10px;
    }

    input {
        background-color: white;
        border-radius: 4px;
        width: 17em;
        height: 2.4em;
        border: none;
        font-size: 18px;
        border: solid 1px rgb(189, 189, 189);

        &:focus{
            outline: none;
        }
    }
    
    .registrar {
        font-size: 1.6em;
        background-color: rgb(55, 75, 103);
        color: white;
        border-radius: 6px;
        border: none;
        margin-top: 10%;
        width: 12rem;
        height: 3rem;
        cursor: pointer;
    }
    
    .error {
        color: rgb(214, 68, 68);
        font-size: 1rem;
        font-weight: 600;
        position: absolute;
        bottom: 27%;
        left: 23%;
    }
    
    .crearCuenta {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        width: 80%;

        .cuenta{
            font-size: medium;
        }
        
        .crear {
            border: none;
            color: #78a1ea;
            background-color: transparent;
            text-decoration: underline;
            cursor: pointer;
            margin-top: -4%;
        }
    }
    
}

.sesion {
    z-index: 100;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f2f2f2;
    border-radius: 30px;
    height: 50%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Crimson Text', serif;
    border: 1px solid rgb(199, 199, 199);

    .titulo {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin-top: 5%;
      width: 100%;

        h1 {
            font-family: 'Inter', sans-serif;
            font-weight: bolder;
            font-size: 2rem;
            width: 100%;
            margin-left: 7%;
            margin-top: 5%;
        }

        .pcity {
            height: 50px;
            width: 55px;
            margin-left: -100%;
        }
    }

    .texto {
    display: flex;
    flex-direction: column;
    margin-top: -15%;
    gap: 10px;
    }

    input {
        background-color: white;
        border-radius: 4px;
        width: 17em;
        height: 2.4em;
        border: none;
        font-size: 18px;
        border: solid 1px rgb(189, 189, 189);

        &:focus{
            outline: none;
        }
    }
    
    .iniciar {
        font-size: 1.6em;
        background-color: rgb(55, 104, 172);
        color: white;
        border-radius: 6px;
        border: none;
        margin-top: 10%;
        width: 13rem;
        height: 3rem;
        cursor: pointer;
    }
    
    .error {
        color: rgb(214, 68, 68);
        font-size: 1rem;
        font-weight: 600;
        position: absolute;
        bottom: 27%;
        left: 10%;
    }
    
    .crearCuenta {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .cuenta {
        font-size: medium;
    }
    
    .crear {
        border: none;
        color: #78a1ea;
        background-color: transparent;
        text-decoration: underline;
        cursor: pointer;
        margin-top: -4%;
    }
}


.non{
    display: none;
}

.fondo{
    filter: blur(5px);
}

.cruz{
    height: 1px;
    width: 1px;
    margin-bottom: 2%;

    &:hover{
        cursor: pointer;
    }
}

.cruz img{
    height: 12px;
    width: 12px;
    position: relative;
    bottom: 105px;
    margin-left: 140px;
}

.ojoClose{
    position: absolute;
    bottom: 42%;
    right: 7%;
    border: none;
    background-color: white;

    &:hover{
        cursor: pointer;
    }
}

.ojo{
    position: absolute;
    bottom: 42%;
    right: 7%;
    border: none;
    background-color: white;

    &:hover{
        cursor: pointer;
    }
}

.componenteFondo{
    pointer-events: none;
    opacity: 0.4;
}
