body{
    margin: 0%;
    padding: 0%;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

section{
    background-image: url(../../recursos/fondo-login.png);
    height: 100vh;
    width: 100vw;
    z-index: -1;
    filter: blur(5px);
}

article{
    background-color: #f1f1f1;
    border-radius: 30px;
    height: 60%;
    width: 28%;
    position: absolute;
    right:36%;
    top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'crimson text';
}

h1{
    display: flex;
    justify-content: center;
    font-family: 'inter';
}

.titulo{
    display: flex;
    flex-direction: row;
    row-gap: 30px;
}

.pcity{
    height: 50px;
    width: 55px;
    margin-top: -22%;
    margin-left: 15%;
}

.texto{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-arriba {
    margin-top: -5%;
}

input{
    background-color: white;
    border-radius: 7px;
    width: 290px;
    height: 40px;
    border: none;

   
    &::placeholder {
        color: #d9d9d9;
        font-family: 'crimson text';
        font-size: 18px;
    }
}
p{
    color: #d9d9d9;
    font-size: 20px;
}

.google{
    width: 60px;
    height: 30px;
}

button{
    font-weight: 500;
    font-size: 18px;
    font-family: 'crimson text';
    background-color: white;
    border: 4px;
    width: 60%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0,3s ease;

    &:hover{
        cursor:pointer;
        scale: 1.01;
    }
}

.regist{
    background-color: #384D6E;
    color: #F5F5F5;
    width: 35%;
    height: 8%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin-top: 5%;
}