body{
    margin: 0%;
    padding: 0%;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

section{
    background-image: url(../../recursos/fondo-login.png);
    height: 100vh;
    width: 100vw;
    z-index: -1;
    filter: blur(5px) brightness(0.5);
}

main{
    background-color: #f1f1f1;
    border-radius: 30px;
    height: 50%;
    width: 25%;
    position: absolute;
    right:37%;
    top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'crimson text';
}

h1{
    display: flex;
    justify-content: center;
    font-family: 'inter';
}

.titulo{
    display: flex;
    flex-direction: row;
    row-gap: 30px;
}

.pcity{
    height: 50px;
    width: 55px;
    margin-left: 15%;
}

.texto{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-arriba {
    margin-top: -5%;
}

input{
    background-color: white;
    border-radius: 7px;
    width: 20em;
    height: 3em;
    border: none;

   
    &::placeholder {
        color: #c8c8c8;
        font-family: 'crimson text';
        font-size: 18px;
    }
}
p{
    color: #c8c8c8;
    font-size: 20px;
    margin-top: 4%;
}

button{
    font-weight: 500;
    font-size: larger;
    font-family: 'crimson text';
    background-color: rgb(55, 104, 172);
    color: white;
    border-radius: 10px;
    border-color: transparent;
    width: 8em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0,3s ease;

    &:hover{
        cursor:pointer;
        scale: 1.005;
    }
}

.regist{
    background-color: #6d798d;
    color: #F5F5F5;
    width: 12rem;
    height: 2.2rem;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'crimson text';
}

.error{
    color: red;
}

.abajo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6%;
}

footer{
position: relative;
bottom: 28%;
width: 20%;
left: 41%;
}