body {
    margin: 0;
    padding-top: 24%;
    overflow-y: auto;
}

.rect {
    position: fixed;
    background-color: #70D0F6;
    height: 24%;
    width: 100%;
    position:absolute;
    top:0%;
    z-index: -1;
}
.img{
    position::absolute;
    left:2%;
    top: 2%;
    height: 24px;
}