body{
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
}
header{
    height: 200px;
    width: 100%;
    background-color:#1E90FF;
    z-index: -1;
    margin-top: 0%;
    display: flex;
    justify-content: space-between;
    }

nav{
    width: 600px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    margin-right: 15px;
    margin-top: 5px;
}

.armar,.comparar,.inicio{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 28px;
    background-color:#1E90FF;
    border: none;
    text-decoration: underline;
    transition: 0,3s ease;

    &:hover{
        cursor:pointer;
        scale: 1.03;
    }
}

h1{
    font-family: "Crimson Text", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 110px;
    display: flex;
    align-items: center;
}

logo{
    padding-right: 50px;
}

h2{
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px; 
}

h3{
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;  
    margin-top: -5%;
}

article{
    word-wrap: break-word;
    flex-direction: column;
    height: auto;
    width: 500px;
    margin-left: 200px;
}

main{
    display: flex;
    justify-content: space-evenly;
}

.img{
    height: 500px;
    width: 500px;
    position: absolute;
    left: 20px;
    top: 150px;
}