body{
margin: 0%;
padding: 0%;
height: 100%;
width: 100%;    
}

header{
height: 200px;
width: 100%;
background-color:#1E90FF;
z-index: -1;
margin-top: 0%;
}

.links{
    position:relative;
    top:0%;
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.armar,.comparar,.info{
    text-align: start;
    height: 100%;
    position:relative;
    top: 40px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    font-size: x-large;
    background-color:#1E90FF;
    border: none;
    gap: 50px;
}

.logo{
    position:relative;
    bottom: 20px;
}