body{
    width: 100%;
    height: 100%;
    margin: 0;
}

header {
    width: 100%;
    height: 200px;
    background-color: #70D0F6;
    display:flex;
    align-items: flex-start;
}

.fotos{
margin-top: 1.5%;
margin-left:53%;
width: 500px;
display: flex;
justify-content: space-around;
border-radius: 5px;
border: none;
gap: 40px;
color: #364D6E;
}

.text-foto{
font-family: "Acme", sans-serif;
font-weight: 400;
font-style: normal;
text-align: center;
display: flex;
justify-content: center;
font-size: 30px;
margin-top: 0%;
gap: 50px;
}


.vs{
    height: 128px;
    width:max-content;
}

.info:hover,.computer:hover,.vs:hover{
    cursor:pointer;
    background-color: #9CDBF3;
}

.info,.computer,.vs{
    border: none;
    background-color: #70D0F6;
}

.logo-img{
    height: 180px;
    width: 125px;
    display:flex;
    margin-left: 0%;
    position: absolute;
    left: 2%;
}

.busc{
    position:absolute;
    left: 15%;
    top: 4%;
    border-color: #384D6E;
    width: 417px;
    height: 55px;
    font-size: 20px;
    border-radius: 15px;
    color: black;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
}

.busc::placeholder{
    color: #D9D9D9;
}


.comps{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    row-gap: 20px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 3%;
}

.comp{
    text-align: center;
    font-size: 24px;
    height: 120px;
    width: 240px;
}

h1{
     margin-top: 3%;
     margin-left: 2%;
     color:#384D6E;
     font-family: "Crimson Text", serif;
     font-weight: 400;
     font-style: normal;
     font-size: 45px;
}